<html>
    <head>
	<title>Comic Reader</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">
$(document).ready(
    function()
    {
	function last_msg_funtion()
	{
            var ID=$(".comic_image_box:last").attr("id");
            $('div#last_image_loader').html('<img src="{{ asset('bundles/reader/images/loader.gif') }}" alt="Loading...">');
            $.post("{{ asset('app_dev.php/nextpage/' ~ bookid) }}/"+ID,
                function(data)
                {
                    if (data != "")
                    {
                        $(".comic_image_box:last").after(data);
                    }
                
                    $('div#last_image_loader').empty();
                });
	};
	    
	$(window).scroll(
	    function()
	    {
		if ($(window).scrollTop() == $(document).height() - $(window).height())
		{
		    last_msg_funtion();
		}
	    });
    });
        </script>
    </head>
    <body>
{% for page in pages %}
        <div id="{{ page.id }}" class="comic_image_box" >
	    <img src="{{ asset('bundles/books/' ~ page.path) }}" alt="" />
        </div>
{% endfor %}

        <div id="last_image_loader"></div>
    </body>
</html>