a.lien {
	font-size: 1.8em;
	margin-top:11px;
	font-family:arial;
	display:block;
	height:60%;
	width:100%;
	color: #1234c9;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
	}
body {
	color:black;
	background-color:white;
	background-image:{{ asset('bundles/comicreaderdesign/images/fond.jpg') }};
	background-repeat:repeat;
	}
div {
	text-align:center;
	}
div#main{
	margin-left:auto;
	margin-right:auto;
	width:960px;
	border-style:none;
	}
div#ban {
	width:100%;
	height:100px;
	margin-bottom:10px;
	}
div#recherche {
	border-width: 1px; border-style: solid; border-color: #000000;
	background-color:#b6d10d;
	border-radius: 15px;
	float:right;
	width:24%;
	height:60px;
	}
input {	
	margin-top:5px;
	}
input.btn {
	margin-top:5px;
	}
div#propos {
	border-width: 1px; border-style: solid; border-color: #000000;
	height:100px;
	}
div#accueil {
	border-width: 1px; border-style: solid; border-color: #000000;
	background-color:#b6d10d;
	border-radius: 15px;
	vertical-align: middle;
	width:25%;
	float:left;
	height:60px;
	}
div#liste {
	border-width: 1px; border-style: solid; border-color: #000000;
	background-color:#b6d10d;
	border-radius: 15px;
	vertical-align: middle;
	width:25%;
	float:left;
	height:60px;
	}
div#ajouter {
	border-width: 1px; border-style: solid; border-color: #000000;
	background-color:#eeb400;
	border-radius: 15px;
	vertical-align: middle;
	width:25%;
	float:left;
	height:60px;
	}

div#contenu {
	border-width: 1px; border-style: solid; border-color: #000000;
	margin-top:20px;
	width:100%;
	height:600px;
	}
.clear {
	clear : both;	
}
