<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ComicReader !</title>
    </head>
    <body style="text-aligne:center;">
<img alt="ComicReader" src="{{ asset('bundles/comicReaderdesign/images/ban.jpg') }}" />
    </body>
</html>
