<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="liste.css">
<title>Positionnement CSS</title>
</head>
<body>
  <div id="main">
	<div id="ban"><img alt="ComicReader" src="{{ asset('bundles/comicreaderdesign/images/ban.jpg') }}" /></div>

	<div id="accueil">Accueil</div>
	<div id="liste">Liste</div>
	<div id="ajouter">Ajouter</div>
	<div id="recherche">
	  <input value="Rechercher" size="22" maxlength="255" onFocus="this.value=''"/>
          </input>
          <button type="button" onclick="">Rechercher</button> 
	</div>
	<div class="clear"></div>

	<div id="contenu">

	<!-- à faire pour chaque bouquin-->
	  <div class="livre">
    	    <div class="livreImage">image</div>
	    <div class="livreinfos"> 
	      <div class="livreNote">Note</div>
	      <div class="livreNom">NOM</div>
	      <div class="livreAuteur">Auteur</div>
	      <div class="livreGenre">support-genre</div>
	      <div class="livrePseudo">^_^ Pseudo</div>
	      <div class="livreDesc">orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices nisl sit amet libero vestibulum augue placerat eu tempus elit dictum. Donec ullamcorper ornare ipsum vitae semper. Curabitur mollis molestie accumsan. Maecenas ut nisi i !orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices nisl sit amet libero vestibulum augue placerat eu tempus elit dictum. Donec ullamcorper ornare ipsum vitae semper. Curabitur mollis molestie accumsan. Maecenas ut nisi i !orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices nisl sit amet libero vestibulum augue placerat eu tempus elit dictum. Donec ullamcorper ornare ipsum vitae semper. Curabitur mollis molestie accumsan. Maecenas ut nisi i !</div>
	    </div>
	  </div>
	  <div class="livre">
    	    <div class="livreImage">image</div>
	    <div class="livreinfos"> 
	      <div class="livreNote">Note</div>
	      <div class="livreNom">NOM</div>
	      <div class="livreAuteur">Auteur</div>
	      <div class="livreGenre">support-genre</div>
	      <div class="livrePseudo">^_^ Pseudo</div>
	      <div class="livreDesc">orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices nisl sit amet libero vestibulum augue placerat eu tempus elit dictum. Donec ullamcorper ornare ipsum vitae semper. Curabitur mollis molestie accumsan. Maecenas ut nisi i !orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices nisl sit amet libero vestibulum augue placerat eu tempus elit dictum. Donec ullamcorper ornare ipsum vitae semper. Curabitur mollis molestie accumsan. Maecenas ut nisi i !orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices nisl sit amet libero vestibulum augue placerat eu tempus elit dictum. Donec ullamcorper ornare ipsum vitae semper. Curabitur mollis molestie accumsan. Maecenas ut nisi i !</div>
	    </div>
	  </div>
	  <div class="livre">
    	    <div class="livreImage">image</div>
	    <div class="livreinfos"> 
	      <div class="livreNote">Note</div>
	      <div class="livreNom">NOM</div>
	      <div class="livreAuteur">Auteur</div>
	      <div class="livreGenre">support-genre</div>
	      <div class="livrePseudo">^_^ Pseudo</div>
	      <div class="livreDesc">orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices nisl sit amet libero vestibulum augue placerat eu tempus elit dictum. Donec ullamcorper ornare ipsum vitae semper. Curabitur mollis molestie accumsan. Maecenas ut nisi i !orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices nisl sit amet libero vestibulum augue placerat eu tempus elit dictum. Donec ullamcorper ornare ipsum vitae semper. Curabitur mollis molestie accumsan. Maecenas ut nisi i !orem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices nisl sit amet libero vestibulum augue placerat eu tempus elit dictum. Donec ullamcorper ornare ipsum vitae semper. Curabitur mollis molestie accumsan. Maecenas ut nisi i !</div>
	    </div>
	  </div>
	</div>
  </div>
</body>
</html>

