Bonjour {{name}}, vous voici dans le menu d'administration en tant que {{stat}} <br/>
Vous avez accès aux options suivantes :<br/>

<-- --><br/>
<br/>
Panneau de modération -image-<br/>

Panneau d'administration des livres -image-<br/>

Panneau d'administration des utilisateurs -image-<br/>
<br/>
<-- --><br/>

<a href="{{ asset('app_dev.php/deco') }}">Deco</a>
